<div class="container-fluid">
  <h3>Add Problem</h3>
  <form>
    <div class="form-group">
      <label for="categoryInput">Category</label>
      <input class="form-control" type="text" id="categoryInput">
    </div>
    <div class="form-group">
      <label for="nameInput">Name</label>
      <input class="form-control" type="text" id="nameInput">
    </div>
    <div class="form-group">
      <label for="descriptionText">Description</label>
      <textarea class="form-control" id="descriptionText" rows="3"></textarea>
    </div>
  </form>
</div>
