<div class="container-fluid">
  <h1>Whiteboard Coding</h1>
  <a class="btn btn-primary" href="/categories" role="button">View By Category</a>
  <a class="btn btn-primary" href="/random" role="button">Random Problem</a>
</div>
